<br /><br />
<footer class="footer">

    <div class="container">
  
  <nav>
    <ul class="span3">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.peoplessoapbox.com", target="_blank">Info</a></li>
    </ul>
  </nav>

</div>
</footer>
